
body {
    background-color: #333;
    background-image: url("images/tattoo.jpeg");
    background-size: auto 82%;
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Serif', sans-serif;
  }
  
  .container {
       margin: 0 auto;
       height: 100%;
        padding-top: 0px;
  }
  
  .well {
      border: none;
      padding: 0;
      margin: 0 auto;
  }
   #quiz {
    background: #050505;
    opacity: .75;
    filter: alpha(opacity=75);
    padding-bottom: 45px;
    width: 800px;
    color: #fff;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  
  #quiz > h1 {
    font-family: 'Pathway Gothic One', sans-serif;
    text-align: center;
    padding-top: 25px;
    font-size: 40px;
    opacity: .6;
  }
  
  .questions {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Pathway Gothic One';
    border-bottom: 1px solid grey;
    padding: 20px;
  }
  
  .answers div {
    padding:  0;
    font-size: 16px;
    margin: 0 auto;
    padding-bottom: 15px;
  }
  
  .answers div:hover {
    cursor: pointer;
    color: #FBCB43;
  }
  
  .answers {
    padding: 0px 0 10px 0px;
  }
  
  .answers div:first-child {
    border: none;
  }
  
  .checkAnswers h3 {
      font-family: 'Pathway Gothic One', sans-serif;
      opacity: .8;
      filter: alpha(opacity=80);
      font-size: 20px;
  }
  
  .checker {
    display: inline-block;
    width: 200px;
    margin: 0 auto;
  }
  
  .correct, .false {
    background-color: #109D59;
    width: 60px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    padding-left: 4px;
    float: left;
    margin-left: 2px;
    margin-top: 2px;
  }
  
  .false {
    background-color: #DC4437;
  }

  .btn {
      border: none;
      border-radius: 2px;
      background-color: white;
      width: 120px;
      height: 60px;
      padding: 5px;
      margin-top: 20px;
      font-size: 1.5rem;
      font-weight: bold;
      font-family: 'Roboto Serif', sans-serif;
      
  }

  .btn:hover {
    cursor: pointer;
    background-color: #FBCB43;
  }

  button a {
    text-decoration: none;
    display: block;
    margin: 0;
    padding: 10px 0;
  }