body {
    font-family: 'Roboto Serif', sans-serif;
}

main {
    border: 10px dotted purple;
}

article {
    border: 10px solid green;
    width: 55%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

img {
    display: block;
    border-radius: 1rem;
}

.left {
    border: 5px dotted blue;
    flex-basis: 47%;
}

.right {
    border: 5px dotted blue;
    flex-basis: 47%;
}

.header {
    border: 5px solid red;
    
}

.header p, h1 {
    border: 5px dotted orange;
    text-align: center;
    margin: 1rem 0;
    padding: 2rem 0;
}

h1 {
    font-size: 2rem;
}

.header p {
    font-size: 1.5rem;
    font-style: italic;
}

.form {
    border: 5px solid brown;
    padding: 3rem 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

label {
    padding: 5px 0;
    text-align: center;
}

input {
    margin: 3px 0 3px 6rem;
    width: 10rem;
}

button {
    margin: 15px 0 0 8rem;
    width: 7rem;
}

footer {
    border: 10px solid purple;
}
footer p {
    border: 5px dashed red;
    width: 25%;
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
    font-size: 20px;
}

